#app_icon {
    width: 1.4em;
    height: 1em;
    border-radius: 35%;
}
  
.Header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 1.4em;
}

.Header h1 {
    font-size: 40px;
    margin: 0;
}

.Header h1 a {
    text-decoration: none;
}

.Header a {
    height: 1.4em;
    font-size: 32px;
    color: #444;
}

.Header__logged-in {
    font-size: 18px;
}