#app_icon {
    width: 1.4em;
    height: 1em;
    border-radius: 35%;
}
  
.Header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 1.4em;
}



.app-link {
    height: 1.4em;
    font-size: 32px;
    color: white;
}

.app-link:hover {
    cursor: pointer;
    color: red;
}

.Header h1 a {
    text-decoration: none;
}

.Header__logged-in {
    font-size: 18px;
}

.logout-link {
    color: white;
}

.logout-link:hover {
    cursor: pointer;
    color: red;
}