h2 {
    color: rgb(199, 24, 24);
    font-size: 24px;
}

.error {
    margin: 0;
}

.login-field {
    text-align: center;
}

.login-list { 
	display: inline-block; 
    text-align: left; 
    padding: 0;
}

.login-creds {
    min-width: 40vw;
    height: 24px;
    border-radius: 5px;
    margin: 0.3em 0;
}

button {
    height: 24px;
}