@import url('https://fonts.googleapis.com/css2?family=Monda&family=Roboto+Condensed:wght@700&family=Stardos+Stencil:wght@700&display=swap');

ul {
  list-style-type: none;
}

body {
  text-align: center;
  color: rgb(255, 255, 255);
  background: url(./images/youmove_background1.jpg)center center no-repeat fixed;
  background-size: cover;
}
