@import url('https://fonts.googleapis.com/css2?family=Monda&family=Roboto+Condensed:wght@700&family=Stardos+Stencil:wght@700&display=swap');

ul {
  list-style-type: none;
}

body {
  text-align: center;
  color: rgb(255, 255, 255);
  background: url(./images/youmove_background1.jpg)center center no-repeat fixed;
  background-size: cover;
}

h1 {
  text-decoration: none;
}

#app_icon {
  width: 2.4em;
  height: 1.8em;
  border-radius: 35%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

